@model IEnumerable<CoreFitness.Models.ShoppingCart>



@{

    ViewBag.Title = "Shopping Cart";
}


    <div class="container">
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {

                <div class="row">
                    <h3 class="col">
                        @item.ProductName
                    </h3>
                    <h3 class="col">@item.ProductPrice</h3>

                    <a asp-controller="shoppingcart" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger m-1">Remove Item</a>
                </div>

                @if (item == null)
                {
                    <h1>There are no items in the shopping cart</h1>
                }

            }
        }
        else
        {
            <h1 class="text-center m-2">The shopping cart is empty</h1>
        }







    </div>


