@model CoreFitness.Models.Session

@{
    ViewData["Title"] = "Edit";
}


    <div class="container">
        <h1>Edit</h1>

        <h4>Session</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="ClassName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ClassName" class="form-control" />
                    <span asp-validation-for="ClassName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="InstructorName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="InstructorName" class="form-control" />
                    <span asp-validation-for="InstructorName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SessionStartTime" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="SessionStartTime" class="form-control" />
                    <span asp-validation-for="SessionStartTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SessionEndTime" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="SessionEndTime" class="form-control" />
                    <span asp-validation-for="SessionEndTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Confirm " class="btn btn-primary m-2" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>

    </div>