
@{
    ViewBag.Title = "Index";
}

<div id="showcase">
    <div class="showcase-content">
        <h1>Train Like An Athlete</h1>
    </div>
</div>

<div class="container">
    <section id="why-join-us" class="p-1">

        <h1 class="display-5 text-center">Why Join Us?</h1>
        <div class="row p-1">
            <div class="col-sm-4 p-1 line-height-2">
                <h3 class="display-6">
                    <i class="fas fa-adjust text-purple"></i> Affordable Memberships
                </h3>
                <p>
                    We offer memberships for everyone from athletes to beginners
                </p>
            </div>
            <div class="col-sm-4 line-height-2">
                <h3 class="display-6">
                    <i class="fas fa-dumbbell text-purple"></i> Tons Of Equipment
                </h3>
                <p>
                    Tons of equipment including: free weights, machines for arms, pecks, back and more.
                </p>
            </div>
            <div class="col-sm-4 p-1 line-height-2">
                <h3 class="display-6">
                    <i class="fas fa-male text-purple"></i> Personal Training
                </h3>
                <p>
                    Our personal trainers have years of experience and specialize in many different areas
                </p>
            </div>
        </div>

    </section>
</div>



